.App-ErrorMesssage {
  background-color: rgb(98,0,0);
  color:rgb(200,0,0);
  border:1px solid red;
  border-radius: 5px;
  padding:10px;
  text-align: center;
}

.App-Header {
  background-color: teal;
}

.App-Header h1 { 
  margin:0 10px;
}

.App-Title {
  color:white;
}